<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="folderSettings" type="DeleteLogFileService.Configuration.FolderConfigurationSection, DeleteLogFileService.Configuration"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

  <folderSettings>
    <settings>
      <add path="Dir:\LogDir" remaindays="7" pattern="DefaultPathPattern"/>
      <!-- If patten is empty then use the DefaultPathPattern. -->
    </settings>
  </folderSettings>

  <log4net>
    <root>
      <level value="ALL" />
    </root>
  </log4net>

  <appSettings>
    <add key="DefaultPathPattern" value="" />
    <!-- If empty then all path and subdirectories in the folderSettings will be searched. -->
    <add key="FileExts" value="deletelogtest" />
    <!-- If empty then the service does NOT execute any deletion. -->
    <add key="DefaultRemainDays" value="7"/>
    <add key="PerSecondsRunforRemainDays" value="60"/>
    <add key="PerSecondsRunforFreeDiskSpaceCheck" value="120"/>
    <add key="FreeDiskSpaceThreshold" value="10"/>
    <!-- 10 for 10%, the service starts to delete when free space below 10%. -->
    <add key="EveryFolderFileSizeRemain" value="10"/>
    <!--MB-->

    <add key="ServiceName" value="DeleteLogFileService" />

    <!-- Setting for log-->
    <add key="LogFolder" value="Log"/>
    <add key="MinLogType" value="Log"/>
    <add key="TraceProgramDebugLog" value="True" />
    <add key="MaxLogSizeMB" value="10"/>
    <add key="LogFileNoLength" value="3"/>
    <!--min:1;max:10000-->
    <add key="LogBufferSize" value="1000" />
    <!--min:1;max:100-->
    <add key="LogFlushInterval" value="10" />
    <add key="Log4NetEnabled" value="False"/>
  </appSettings>
</configuration>
